[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{js,css,vue,scss,html,graphql}]
indent_size = 2
indent_style = space

[*.{php,ts}]
indent_size = 4
indent_style = space

[*.{json,yml,toml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.proto]
indent_size = 2
indent_style = space